<app-no-privilege *ngIf="!privilege.update" message="No privilege to change disconnectionrequest details"></app-no-privilege>
<div *ngIf="this.disconnectionrequest && privilege.update">
  <app-page-header
    title="Disconnectionrequest Change Form of {{ disconnectionrequest.code }}"
    [breadcrumbSegments]="['Disconnectionrequests', 'Show All Disconnectionrequests', 'Change Details of ' + disconnectionrequest.code]"
  ></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Connection</mat-label>
                <mat-select formControlName="connection" required>
                  <mat-option *ngFor="let connection of connections" [value]="connection.id">{{connection.consumer}}</mat-option>
                </mat-select>
                <mat-error *ngIf="connectionField.invalid">
                  <span *ngIf="connectionField.errors.required">Select at lease one connection</span>
                  <span *ngIf="connectionField.errors.server">{{connectionField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Disconnet request date</mat-label>
                <input matInput [matDatepicker]="pickerdate" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="pickerdate"></mat-datepicker-toggle>
                <mat-datepicker #pickerdate></mat-datepicker>
                <mat-hint>Ex: 01/05/2021</mat-hint>
                <mat-error *ngIf="dateField.invalid">
                  <span *ngIf="dateField.errors.required">Disconnet request date is required</span>
                  <span *ngIf="dateField.errors.server">{{dateField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Disconnection Type</mat-label>
                <mat-select formControlName="disconnectiontype" required>
                  <mat-option *ngFor="let disconnectiontype of disconnectiontypes" [value]="disconnectiontype.id">{{disconnectiontype.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="disconnectiontypeField.invalid">
                  <span *ngIf="disconnectiontypeField.errors.required">Select at lease one disconnection type</span>
                  <span *ngIf="disconnectiontypeField.errors.server">{{disconnectiontypeField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Disconnect Request Status</mat-label>
                <mat-select formControlName="disconnectionrequeststatus" required>
                  <mat-option *ngFor="let disconnectionrequeststatus of disconnectionrequeststatuses" [value]="disconnectionrequeststatus.id">{{disconnectionrequeststatus.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="disconnectionrequeststatusField.invalid">
                  <span *ngIf="disconnectionrequeststatusField.errors.required">Select at lease one disconnect request status</span>
                  <span *ngIf="disconnectionrequeststatusField.errors.server">{{disconnectionrequeststatusField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" ></textarea>
                <mat-hint>Ex: This is the description</mat-hint>
                <mat-error *ngIf="descriptionField.invalid">
                  <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
                  <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
                  <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 5000 characters. </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/disconnectionrequests" class="ml-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Disconnectionrequests</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="button" (click)="discardChanges()"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
