#img {
  width: 100%;
  height: 100%;
  //padding: 50px 15px 15px;
  zoom: 50%;
}

#p {
  font-family: gstatic;
  font-size: 45px;

  font-weight: normal;
  position: absolute;
  top: 130px;
  right: 48px;
  color: #ffffff;
  -webkit-text-stroke:2px black;
}
