<app-no-privilege *ngIf="!privilege.update" message="No privilege to change itemreturn details"></app-no-privilege>
<div *ngIf="this.itemreturn && privilege.update">
  <app-page-header
    title="Itemreturn Change Form of {{ itemreturn.code }}"
    [breadcrumbSegments]="['Itemreturns', 'Show All Itemreturns', 'Change Details of ' + itemreturn.code]"
  ></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Reason</mat-label>
                <textarea matInput formControlName="reason" ></textarea>
                <mat-hint>Ex: .....</mat-hint>
                <mat-error *ngIf="reasonField.invalid">
                  <span *ngIf="reasonField.errors.server">{{reasonField.errors.server.join(', ')}}</span>
                  <span *ngIf="reasonField.errors.minlength">Reason should has at least null characters. </span>
                  <span *ngIf="reasonField.errors.maxlength">Reason can have a maximum of 5000 characters. </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Item recive date</mat-label>
                <input matInput [matDatepicker]="pickerdate" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="pickerdate"></mat-datepicker-toggle>
                <mat-datepicker #pickerdate></mat-datepicker>
                <mat-hint>Ex: 01/05/2021</mat-hint>
                <mat-error *ngIf="dateField.invalid">
                  <span *ngIf="dateField.errors.required">Item recive date is required</span>
                  <span *ngIf="dateField.errors.server">{{dateField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <h3 class="mb-0 mat-subheading-1 font-weight-light">Return Items</h3>
          <app-itemreturnitem-update-sub-form [min]="0" [max]="0" formControlName="itemreturnitems"></app-itemreturnitem-update-sub-form>
          <div class="error-box" *ngIf="itemreturnitemsField.invalid && !itemreturnitemsField.pristine">
            <p *ngIf="itemreturnitemsField.errors.min">Should has at least 0 return items</p>
            <p *ngIf="itemreturnitemsField.errors.max">Maximum allowed only 0 Return Items</p>
                <span *ngIf="itemreturnitemsField.errors.server">{{itemreturnitemsField.errors.server.join(', ')}}</span>
          </div>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/itemreturns" class="ml-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Itemreturns</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="button" (click)="discardChanges()"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
