/* You can add global styles to this file, and also import other style files */

/* Importing Theme Files */
.light{
  @import "src/assets/themes/light";
}

.dark{
  @import "src/assets/themes/dark";

  .mat-menu-panel{
    background: #393939;
    color: #eeeeee;
  }

}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #eeeeee}



*:focus{
  outline: none !important;
}

span.space{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.mat-form-field-invalid.hint-less-field{
  margin-bottom: 10px;
  transition: margin-bottom 350ms ease-in-out;
}

.spacer {
  flex: 1 1 auto;
  margin: 0 0 0 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.mat-btn-sm{
  font-size: 13px !important;
  line-height: 26px !important;
  padding: 0px 5px !important;

  mat-icon{
    font-size: 15px !important;
    line-height: 15px !important;
    width: 15px !important;
    height: 15px !important;
  }

}

@media (max-width: 425px) {
  .mat-btn-small-sm{
    font-size: 15px !important;
    line-height: 34px !important;
    padding: 0px 7px !important;

    mat-icon{
      font-size: 18px !important;
      line-height: 18px !important;
      width: 18px !important;
      height: 18px !important;
    }
  }
}

@media (min-width: 425px) {
  mat-card-content{
    .table-responsive{
      min-height: 250px;
    }
  }
}

mat-card-actions{
  border-top: 1px solid rgba(128,128,128,0.5);
  margin-left: -16px !important;
  margin-right: -16px !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.custom-data-table{

  th, td{
    padding: 10px;
  }
}

tr.mat-row{
  height: auto !important;
}

.mat-table{
  td, th{
    padding: 5px 10px !important;
    font-size: 85% !important;
  }
}

.btn-col{
  width: 90px;
  text-align: center;
  padding: 3px 5px !important;

  button{
    margin: 0px !important;
  }
}

.search-form-field{
  .mat-form-field-wrapper{
    padding-bottom: 10px;
  }
}

.form-radio-group{
  width: 100%;
  display: block;
}

.form-radio-button{
  margin: 5px;
  display: inline-block;
}

tr{
  .row-thumbnail{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid rgba(128, 128, 128, 0.3);
  }
}
