<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a itemrecive"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !itemrecive" message="Itemrecive Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="itemrecive && privilege.showOne">
  <app-page-header
    title="Itemrecive Detail Page of {{ itemrecive.code }}"
    [breadcrumbSegments]="['Itemrecives', 'Show All Itemrecives', 'Details of ' + itemrecive.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{itemrecive.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{itemrecive.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(itemrecive.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{itemrecive.code}}</td>
              </tr>
              <tr>
                <th>Item order</th>
                <td>{{itemrecive.iorder.code}}</td>
              </tr>
              <tr>
                <th>Item recive date</th>
                <td>{{itemrecive.date | date: 'fullDate'}}</td>
              </tr>
                  <tr>
                    <td colspan="2">
                      <table class="w-100 custom-data-table">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let itemreciveitem of itemrecive.itemreciveitemList">
                            <td>{{itemreciveitem.item.name}}</td>
                            <td>{{itemreciveitem.qty}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
              <tr>
                <th>Description</th>
                <td [innerHTML]="itemrecive.description | nl2br"></td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/itemrecives/edit/{{itemrecive.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/itemrecives/add" mat-stroked-button><mat-icon>add</mat-icon> New Itemrecive</button>
    <button *ngIf="privilege.showAll" routerLink="/itemrecives" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Itemrecives</button>
  </div>
</div>
