<div class="dialog-wrapper">
  <h1 class="mat-subheading-2">Reset Password of &#x201C;&#x00A0;{{displayName}}&#x00A0;&#x201D;</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div mat-dialog-content>
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New Password</mat-label>
          <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password" required>
          <button type="button" mat-icon-button matSuffix (click)="passwordHide = !passwordHide">
            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint *ngIf="!passwordField.value">Enter a strong password. Ex:&#x00A0;P@ssw0rd</mat-hint>
          <mat-error *ngIf="passwordField.invalid">
            <span *ngIf="passwordField.errors.required">Password is required</span>
            <span *ngIf="passwordField.errors.minlength">Password should has minimum 8 characters</span>
            <span *ngIf="passwordField.errors.maxlength">Password should not exceed 25 characters</span>
            <span *ngIf="passwordField.errors.strongPassword">Password should be strong</span>
            <span *ngIf="passwordField.errors.server">{{passwordField.errors.server.join(', ')}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New Password Confirm</mat-label>
          <input matInput [type]="passwordConfirmHide ? 'password' : 'text'" formControlName="passwordConfirm" required>
          <button type="button" mat-icon-button matSuffix (click)="passwordConfirmHide = !passwordConfirmHide">
            <mat-icon>{{passwordConfirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint *ngIf="!passwordConfirmField.value">Re Enter above password</mat-hint>
          <mat-error *ngIf="passwordConfirmField.invalid">
            <span *ngIf="passwordConfirmField.errors.required">Password confirm is required</span>
            <span *ngIf="passwordConfirmField.errors.mustMatch">Password not matched</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="text-right mb-5">
        <button (click)="generatePassword()" class="m-0" mat-stroked-button type="button"><mat-icon>vpn_key</mat-icon> Generate</button>
      </div>
    </div>
    <div mat-dialog-actions>
      <button type="button" class="mx-0 mb-3 mat-btn-sm" color="warn" mat-raised-button [mat-dialog-close]="false" cdkFocusInitial><mat-icon>clear</mat-icon> Cancel</button>
      <span class="spacer"></span>
      <button type="reset" class="mat-btn-sm mb-3" mat-stroked-button><mat-icon>clear</mat-icon> Clear</button>
      <button type="submit" class="mx-0 mb-3 mat-btn-sm" color="primary" mat-raised-button><mat-icon>done</mat-icon> Reset</button>
    </div>
  </form>
</div>
