<app-page-header title="Change My Password" [breadcrumbSegments]="['Users', 'Change My Password']"></app-page-header>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-content>
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Current Password</mat-label>
          <input matInput [type]="currentPasswordHide ? 'password' : 'text'" formControlName="currentPassword" required>
          <button mat-icon-button matSuffix (click)="currentPasswordHide = !currentPasswordHide">
            <mat-icon>{{currentPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Enter your current password</mat-hint>
          <mat-error *ngIf="currentPasswordField.invalid">
            <span *ngIf="currentPasswordField.errors.required">Current password is required</span>
            <span *ngIf="currentPasswordField.errors.notExists">Wrong current password</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New Password</mat-label>
          <input matInput [type]="newPasswordHide ? 'password' : 'text'" formControlName="newPassword" required>
          <button type="button" mat-icon-button matSuffix (click)="newPasswordHide = !newPasswordHide">
            <mat-icon>{{newPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Enter a strong password. Ex:&#x00A0;P@ssw0rd</mat-hint>
          <mat-error *ngIf="newPasswordField.invalid">
            <span *ngIf="newPasswordField.errors.required">New password is required</span>
            <span *ngIf="newPasswordField.errors.minlength">Password should has minimum 8 characters</span>
            <span *ngIf="newPasswordField.errors.maxlength">Password should not exceed 25 characters</span>
            <span *ngIf="newPasswordField.errors.strongPassword">Password should be strong</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New Password Confirm</mat-label>
          <input matInput [type]="newPasswordConfirmHide ? 'password' : 'text'" formControlName="newPasswordConfirm" required>
          <button type="button" mat-icon-button matSuffix (click)="newPasswordConfirmHide = !newPasswordConfirmHide">
            <mat-icon>{{newPasswordConfirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Re Enter above new password</mat-hint>
          <mat-error *ngIf="newPasswordConfirmField.invalid">
            <span *ngIf="newPasswordConfirmField.errors.required">New password confirm is required</span>
            <span *ngIf="newPasswordConfirmField.errors.mustMatch">Password not matched</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="text-right mt-5">
        <button mat-stroked-button class="mx-2 mat-btn-small-sm" type="reset"><mat-icon>refresh</mat-icon> Reset</button>
        <button mat-flat-button color="primary" class="m-0 mat-btn-small-sm" type="submit"><mat-icon>save</mat-icon> Save Changes</button>
      </div>
    </mat-card-content>
    <mat-card-actions align="right">
      <span class="text-warning">*</span> Required Fields
    </mat-card-actions>
  </mat-card>
</form>

