<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a reconnectionrequest"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !reconnectionrequest" message="Reconnectionrequest Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="reconnectionrequest && privilege.showOne">
  <app-page-header
    title="Reconnectionrequest Detail Page of {{ reconnectionrequest.code }}"
    [breadcrumbSegments]="['Reconnectionrequests', 'Show All Reconnectionrequests', 'Details of ' + reconnectionrequest.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{reconnectionrequest.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{reconnectionrequest.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(reconnectionrequest.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{reconnectionrequest.code}}</td>
              </tr>
              <tr>
                <th>Connection</th>
                <td>{{reconnectionrequest.connection.consumer.name}}</td>
              </tr>
              <tr>
                <th>Disconnect request date</th>
                <td>{{reconnectionrequest.date | date: 'fullDate'}}</td>
              </tr>
              <tr>
                <th>Reconnection Status</th>
                <td>{{reconnectionrequest.reconnectionrequeststatus.name}}</td>
              </tr>
              <tr>
                <th>Description</th>
                <td [innerHTML]="reconnectionrequest.description | nl2br"></td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/reconnectionrequests/edit/{{reconnectionrequest.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/reconnectionrequests/add" mat-stroked-button><mat-icon>add</mat-icon> New Reconnectionrequest</button>
    <button *ngIf="privilege.showAll" routerLink="/reconnectionrequests" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Reconnectionrequests</button>
  </div>
</div>
