.error-box{
  background-color: rgba(255, 192, 203, 0.8);
  color: black;
  padding: 15px 15px 4px;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 192, 203, 1);
}
